<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/CSS/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Playfair+Display+SC" rel="stylesheet">
    <meta charset="utf-8">
    <title>Project Title</title>
  </head>
  <body>
    <div class="container">
      <center>
      @RenderBody()
    </div>
  </body>
</html>
